{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% include 'sidebar/sidebar.html.twig' %}
    <div class="login">
        <form class="login__form" method="post">

            <h1 class="login__title">Please sign in</h1>

            <div class="login__group">
                <label class="login__label" for="username">Email</label>
                <input class="login__input" type="email" value="{{ last_username }}" name="email" id="username" autocomplete="email" autofocus>
            </div>

            <div class="login__group">
                <label class="login__label" for="password">Password</label>
                <input class="login__input" type="password" name="password" id="password" autocomplete="current-password">
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>

            <button class="login__button" type="submit">Sign in</button>
            {% if error %}
                <div class="login__error">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}

