<!-- Sidebar navigation -->
<nav class="sidebar">
    <button class="sidebar__close">
        <i class="bi bi-x-lg"></i>
    </button>
    {% if app.user %}
        <div class="sidebar__user_info">
            <a href="" class="user__info">
                <i class="user__icon bi bi-person" title="{{ app.user.userIdentifier }}"></i>
            </a>
            <a href="{{ path('app_logout') }}" class="user__info">
                <i class="logout__icon bi bi-box-arrow-right"></i>
                <i></i>
            </a>
        </div>
    {% else %}
        <div class="sidebar__user_info">
            <a href="{{ path('app_login') }}">
                <p>Login / Sign Up</p>
            </a>
        </div>
    {% endif %}

    <ul class="sidebar__list">
        {% for category in categories %}
            <li class="sidebar__item">{{ category.name }}</li>
        {% endfor %}

    </ul>
</nav>