{% extends 'base.html.twig' %}

{% block body %}
    {% include 'sidebar/sidebar.html.twig' %}

    <!-- Single Article Section -->
    <section class="single-article">
        <div class="single-article__container">
            <!-- Article Title -->
            <h1 class="single-article__title">{{ article.title }}</h1>

            <!-- Article Image -->
            <div class="single-article__image-container">
                <img class="single-article__image" src="{{ article.image }}" alt="{{ article.title }}">
            </div>

            <!-- Article Content -->
            <div class="single-article__content">
                <p>{{ article.content }}</p>
            </div>
        </div>
    </section>
{% endblock %}
